ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3C2F2F;
}
li {
	float: left;
	text-align: right;
} 
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	width: 80px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
li a:hover:not(.active) {
    background-color: #111;
}